body{
  background:#0f172a;
  color:white;
  text-align:center;
  font-family:sans-serif;
}

.container{
  max-width:500px;
  margin:50px auto;
}

button{
  padding:12px 20px;
  margin:10px;
  border:none;
  border-radius:20px;
  background:linear-gradient(90deg,#a855f7,#ec4899);
  color:white;
  cursor:pointer;
}

.option{
  background:#1e293b;
  padding:10px;
  margin:10px;
  border-radius:10px;
  cursor:pointer;
}

.hidden{
  display:none;
}

/*  BACKDROP */
#comingBox{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:999;
}

/*  CARD */
.coming-card{
  background:linear-gradient(135deg,#6d28d9,#9333ea);
  padding:25px;
  border-radius:20px;
  text-align:center;
  width:85%;
  max-width:320px;

  box-shadow:0 0 25px rgba(236,72,153,0.6);
  animation:popUp 0.3s ease;
}

.coming-card h2{
  margin-bottom:10px;
}

.coming-card p{
  font-size:14px;
  opacity:0.8;
  margin-bottom:15px;
}

/* BUTTON */
.coming-card button{
  padding:10px 20px;
  border:none;
  border-radius:20px;
  background:linear-gradient(90deg,#ec4899,#9333ea);
  color:white;
  cursor:pointer;
}

/* animation */
@keyframes popUp{
  from{transform:scale(0.7); opacity:0;}
  to{transform:scale(1); opacity:1;}
}